body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    padding-top: 80px;
    background-image: url('/Web/images/背景.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
header {
    background-color: #1a1a1a;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 20px;
}
h1{
    margin: 0;
}
.logoT{
    color: #ffffff;
    font-family: Archivo Narrow, 'Nunito Sans', -apple-system, system-ui, sans-serif;
    font-size: 20px;
    padding: 0px 20px;
    margin: 0px;
}
nav {
    padding: 0.5em;
    text-align: center;
    float: right;
    padding: 0px 30px;
    }
nav a {
    color: #ffffff;
    font-family: Archivo Narrow, 'Nunito Sans', -apple-system, system-ui, sans-serif;
    text-decoration: none;
    padding: 1em;
    margin: 0 1em;
}
footer {
    background-color: #2d2d2d;
    color: #ffffff;
    font-family: Archivo Narrow, 'Nunito Sans', -apple-system, system-ui, sans-serif;
    text-align: center;
    padding: 2px;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
section {
    padding: 1.5em;
    color: #ffffff;
    text-align: center;
    font-size: 36px;
    border-radius: 15px;
    margin: 20px 40px;
}
section:first-child {
    margin-top: 80px;
}



a:link {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: transform 0.3s ease;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
    transform: scale(1.1);
}


a:active {
    color: #ffffff;
    text-decoration: none;
}
